@import '~@/assets/styles/index.less';

.menu {
  width: calc(100% - 4rem);
  height: 2rem;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 2rem;
  background: linear-gradient(to bottom, rgba(79, 167, 222, 0.565), rgba(79, 167, 222, 0));
  color: #fff;
  transition: height 1s;
  overflow-y: hidden;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
  }
  .menuIcon:active {
    color: @blue;
  }
  .menuIcon {
    color: #fff;
    display: flex;
    align-items: center;
    .localIcon {
      width: 2.6em;
      height: 2.6em;
      background-image: url('~@/assets/icons/locale.png');
      background-size: cover;
      margin-right: 1rem;
    }
  }
  .menuData {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: repeat(3, 1fr);
    .fw-bold();
    .menuItem {
      border-right: 1px solid #ffffff90;
      text-align: center;
      font-size: 1rem;
      margin-bottom: 1.5rem;
      .name {
        .fw-bold();
        font-weight: 500;
        font-size: 1.3rem;
      }
      .noLink {
        color: #c8c8c8;
      }
      .menuTitle {
        font-weight: 400;
        padding: 1rem 0 0;
      }
    }
    .menuItem:nth-child(3n) {
      border: none;
    }
    .current {
      color: #1a79b3;
    }
  }
}

.menuActive {
  height: 34rem;
  background: linear-gradient(to bottom, rgb(81, 168, 222), rgba(81, 168, 222, 0.8));
}

.menuEn {
  .menuData {
    .menuItem .menuTitle {
      padding: 1rem 1.2rem 0;
    }
  }
}

:global {
  .ant-dropdown .ant-dropdown-menu {
    border-radius: 5px;
    .ant-dropdown-menu-item-selected{
      color: #51a8de;
    }
  }
}
