/* @font-face {
  font-family: Noto Sans SC;
  src: url('./font/NotoSansSC-Regular.otf');
}

@font-face {
  font-family: Noto Sans SC-Light;
  src: url('./font/NotoSansSC-Light.otf');
}

@font-face {
  font-family: Noto Sans SC-Medium;
  src: url('./font/NotoSansSC-Medium.otf');
}

@font-face {
  font-family: Noto Sans SC-Bold;
  src: url('./font/NotoSansSC-Bold.otf');
} */

/* 中文 */
@font-face {
  font-family: Noto Sans SC;
  src: url('/font/NotoSansSC-Regular.otf');
}

@font-face {
  font-family: Noto Sans SC;
  src: url('/font/NotoSansSC-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: Noto Sans SC;
  src: url('/font/NotoSansSC-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: Noto Sans SC;
  src: url('/font/NotoSansSC-Bold.otf');
  font-weight: 700;
}

/* 英文 */
@font-face {
  font-family: Noto Sans;
  src: url('/font/NotoSans-Regular.ttf');
}

@font-face {
  font-family: Noto Sans;
  src: url('/font/NotoSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Noto Sans;
  src: url('/font/NotoSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Noto Sans;
  src: url('/font/NotoSans-Bold.ttf');
  font-weight: 700;
}
