.mainContainer {
  display: flex;
  flex-direction: column;
}

.headerBg {
  background-image: url('./images/bgBlue.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 560px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  box-sizing: border-box;
}

.headerBg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 77, 161, 0.3);
  z-index: 1;
}

.headerText {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
  margin-left: 50px;
  z-index: 2;
}

.titleCn {
  font-size: 44px;
  font-weight: bold;
}

.titleEn {
  font-size: 24px;
  margin-top: 4px;
}


.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 6vw;
  gap: 3rem;
  background: linear-gradient(to right, #0a43a3, #64a6e8);
  position: relative;
}

.verticalPagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  height: 300px;
  justify-content: center;
  margin-right: 50px;
}

.arrow {
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  height: 24px;
  user-select: none;
  transition: transform 0.2s;
}

.arrow:hover {
  transform: scale(1.5);
}

.dot {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #a4c0f0;
  transition: background-color 0.3s ease;
  //cursor: pointer;
}

.activeDot {
  width: 4px;
  height: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.textList {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  padding-right: 1rem;
  margin-right: 3rem;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  .textItem {
    padding: 1.5rem 0;
    text-align: left;
    transition: all 0.3s ease;
    white-space: nowrap;
  }

  .active {
    font-size: 2.5rem;
    color: #fafafb;
    font-weight: bold;
  }

  .inactive {
    font-size: 1.5rem;
    color: #fafafb;
  }
}

.middleLabel {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  display: flex;
  gap: 20px;
}

.container1 img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding-top: 120px;
}

.container2 img {
  width: 120px;
  height: 300px;
  object-fit: contain;
}

.imageBox {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 12px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
