.footer {
  background: linear-gradient(to left, #b5caf2 0%, #8babe7 10%, #003699 100%);
  color: white;
  padding: 5vh 10vw;
  font-size: 1rem;

  .title {
    font-size: 14px;
    color: #f1f1f1;
    font-family: 'OPPOSans', sans-serif;
    font-weight: 600;
  }

  .linkText {
    color: #f1f1f1;
    font-weight: 300;
    margin: 0.5rem 0 0.5rem 0;
    font-family: 'OPPOSans', sans-serif;
    transition: all 0.2s ease;
    display: inline-block;

    &:hover {
      transform: translate(-2px, -2px);
    }
  }

  .topBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    .phoneContact {
      display: flex;
      flex-direction: column;

      .text1 {
        font-size: 36px;
        font-weight: 214;
      }

      .text2 {
        font-size: 16px;
        font-family: 'OPPOSans', sans-serif;
        font-weight: 600;
      }
    }

    .logoBox {
      padding-top: 0.5rem;

      .seoLogo {
        width: auto;
        height: 8vh;
      }
    }

    .cooperation {
      display: flex;
      margin-top: 2vh;
      gap: 3rem;

      .cooItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 1vh;

        .title {
          font-size: 16px;
        }
      }
    }

    .footerMenu {
      flex: 1;
      display: flex;
      justify-content: right;
      gap: 2rem;

      .footerLinks {
        width: 20%;
        margin-bottom: 2vh;
        padding-top: 16px;

        .footerLinkList {
          padding: 1vh 0;

          .linkText {
            color: #f1f1f1;
            font-size: 0.9rem;
            margin: 0.5vh 0;
            padding: 3px 0;
            a {
              color: #f1f1f1;
              text-decoration: none;
              cursor: pointer;

              &:hover {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .bottomBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;

    .rowBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }

    .centerBox {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      color: #fff;
      padding: 20px 0;
    }

    .phoneIcon {
      width: 24px;
      height: 24px;
    }

    .contactIcon {
      display: flex;
      align-items: center;
    }

    .legalBox {
      display: flex;
      flex-direction: row;
      justify-content: left;
      gap: 4px;

      .linkText {
        font-size: 12px;
        color: #fff;
        font-family: 'OPPOSans', sans-serif;
      }
    }

    .linkText2 {
      text-align: right;
      font-size: 12px;
      color: #fff;
      margin-left: 9.7rem;
      font-family: 'OPPOSans', sans-serif;
    }
  }
}

.mobileFooter {
  background: linear-gradient(to top, #b5caf2 0%, #8babe7 10%, #003699 100%), url('./footerVector.png'),
    url('./footerVector2.png');
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 50%, 100% 80%;
  background-blend-mode: overlay;
  padding: 3vh 8vw;

  .topBox {
    flex-direction: column;
    gap: 1px;
    padding-bottom: 4px;
    margin-bottom: 1rem;

    .cooperation {
      margin-top: 4rem;
      flex-direction: column;
      gap: 0.5rem;
    }

    .footerMenu {
      display: none;
    }
  }

  .bottomBox {
    flex-wrap: wrap-reverse;
    padding-top: 0;
    gap: 0;

    .rowBox {
      border: none;
    }

    .centerBox {
      width: 100%;
      margin-top: 1vh;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      font-size: 14px;
      padding: 8px 0;
    }

    .legalBox {
      flex-direction: column;
      gap: 4px;

      .linkText {
        font-size: 8px;
        color: #fff;
      }
    }

    .linkText2 {
      text-align: left;
      font-size: 10px;
      color: #fff;
      margin-left: 1px;
    }
  }
}
